02-front-end/src/assets/images/products/books/
02-front-end/src/assets/images/products/coffeemugs/
02-front-end/src/assets/images/products/luggagetags/
02-front-end/src/assets/images/products/mousepads/